body{
    background-color: rgb(86, 80, 80);
}
.main{
    height: 90vh;
    display: flex;
    justify-content: center;
}
#circle{
    height: 150px;
    width: 150px;
    background-color: rgb(138, 125, 125);
    font-size: 8em;
    text-align: center;
    align-self: center;
    border-radius: 50%;
    animation: scale 5s, changecolor 10s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-play-state: running;
    animation-timing-function:ease-in-out;
}

#copyright{
    text-align: center;
    font-size: 1.5em;
    color: rgb(180, 160, 160);
}


@keyframes scale{
    50%{transform:scale(1.5, 1.5);
    box-shadow: 0px 0px 50px rgb(202, 191, 191);
    opacity: 0;}
}
@keyframes changecolor{
    51%{background-color: rgb(74, 72, 72)}
    51%{box-shadow: 10px 10px 50px  rgb(122, 117, 117);}
}
